* {
    box-sizing: border-box;
}

.background-img {
    display: flex;
    background-image: url("./../../images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    min-height: 100vh;
}

.row {
    /* clear: both; */
    display: block;
    justify-content: center;
    align-items: center;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-6 {
    width: 100%;   
}

.size-left-div {
    float: none;
    width: 85%;
    margin: auto;
}

.size-right-div {
    float: none;
    width: 85%;
    margin: auto;
}

.font-title-lg {
    font-family: PoppinsBold;
    font-size: 32px;
    color: white;
    text-align: center;
}

.font-text-sm {
    font-family: PoppinsRegular;
    color: white;
    text-align: center;
    font-size: 16px;
}

.announcement {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;

    -webkit-box-shadow: 0px 7px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 7px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 7px 0px rgba(0, 0, 0, .1);
}

.announcement-text {
    padding: 16px 20px;
    color: white;
    text-align: center;
    font-family: PoppinsBold;
}

.regular-font {
    font-family: PoppinsRegular;
}

/********** SIGNUP FORM ***********/
.signup-form {
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 0px 9px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 9px 0px rgba(0, 0, 0, .1);
    box-shadow:  0px 9px 0px rgba(0, 0, 0, .1);
}

/* input[type=text], input[type=password] { */
.input-signup-form {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #c7c7c7;
    caret-color: hsl(248, 32%, 49%);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-family: PoppinsSemiBold;
    margin-bottom: 15px;
}

.input-signup-form:focus {
    border: 1px solid hsl(248, 32%, 49%);
}

.input-signup-form-error {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid hsl(0, 100%, 74%);
    caret-color: hsl(0, 100%, 74%);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-family: PoppinsSemiBold;
    color: hsl(0, 100%, 74%);
}
.label-error {
    position: relative;
}
.label-error::before {
    content: "";
    position: absolute;
    width: 20px;
    right: 15px;
    top: 0;
    bottom: 0;
    background: url(./../../images/icon-error.svg) center / contain no-repeat;
}

.error-text {
    font-family: PoppinsMedium;
    color: hsl(0, 100%, 74%);
    font-size: 10px;
    text-align: right;
    font-style: italic;
}

.submit-signup-btn {
    background-color: hsl(154, 59%, 51%);
    border-radius: 4px;
    padding: 16px 20px 12px 20px;
    font-family: PoppinsSemiBold;
    color: white;
    outline: none;
    border: 1px solid hsl(154, 59%, 43%);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 0px hsl(154, 59%, 43%), 0px 3px 0px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 3px 0px hsl(154, 59%, 43%), 0px 3px 0px rgba(0, 0, 0, .7);
    box-shadow: 0px 3px 0px hsl(154, 59%, 43%), 0px 3px 0px rgba(0, 0, 0, .7);
}

.submit-signup-btn:hover {
    background-color: hsl(154, 84%, 63%);
    border: 1px solid hsl(154, 84%, 63%);
}

.agreement-form {
    font-family: PoppinsMedium;
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    text-align: center;
}

.terms-service {
    font-family: PoppinsSemiBold;
    cursor: pointer;
    color: hsl(0, 100%, 74%);
}

/* Desktop: 1440px */
@media only screen and (min-width: 768px) {

    [class*="background-img"] {
        background-image: url("./../../images/bg-intro-desktop.png");
    }

    [class*="col-6"] {
        width: 50%;
    }

    [class*="row"] {
        display: flex;
    }

    [class*="size-left-div"] {
        width: 80%;
        float: right;
    }

    [class*="size-right-div"] {
        width: 80%;
        float: left;
    }

    [class*="font-text-sm"] {
        text-align: start;
    }

    [class*="font-title-lg"] {
        font-size: 48px;
        text-align: start;
    }
}